.App {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  margin: auto;
  padding-top: 120px;
  color: #000500;
  text-align: center;
  &__clock {
    position: fixed;
    top: 54px;
    padding: 16px;
  }
}
.back__button {
  padding: 12px;
  color: #000500;
  border-radius: 4px;
  border: none;
  font-weight: bold;
  font-size: 18px;
  position: fixed;
  top: 16px;
  right: 32px;
}

.light {
  background-color: #f4f7f5;
  color: #000500;
}

.dark {
  background-color: #222831;
  color: #eeeeee;
}

.switch {
  position: fixed;
  top: 16px;
  left: 32px;
  display: block;
  width: 80px;
  height: 40px;
  background-color: #d3c5c57c;
  border-radius: 20px;
  &::after {
    content: "";
    position: absolute;
    width: 36px;
    height: 36px;
    top: 2px;
    left: 2px;
    background-color: #ffffffd7;
    border-radius: 50%;
    transition: 0.3s;
  }
}

.checkbox:checked + .switch::after {
  left: 40px;
}
.checkbox {
  display: none;
}
.lightFontColor {
  color: #eeeeee;
}
