.choice{
    &__paragraph{
font-size:20px;
margin-bottom:36px;
    }
    &__button{
        padding:16px;
        color:#000500;
        border-radius: 10px;
        border:none;
        font-weight: bold;
        font-size:18px;
    }
    &__continents{
        background:rgba(208, 59, 59, 0.8);
        margin-right:8px
    }
    &__countries{
        background: rgba(4, 179, 0, 0.6);
        margin-left: 8px;
        margin-right: 16px;
    }
}