.output {
  max-width: 800px;
  margin: auto;
  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 8px;
    padding-bottom: 16px;
    &--item {
      font-size: 20px;
      padding: 32px;
      border: 1px solid #00000013;
      list-style-type: none;
      background: white;
      box-shadow: 0 0 17px -1px rgba(0, 0, 0, 0.05);
      color: #000500;
    }
  }
  &__paragraph {
    font-weight: bold;
    font-size: 24px;
  }
}
