.form {
  margin: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &__button {
    font-size: 20px;
    padding: 8px;
    background-color: rgba(208, 59, 59, 0.8);
    border: none;
    border-radius: 4px;
    &--search{
      margin:16px;
      background-color: rgba(4, 179, 0, 0.6);
    }
  }
  &__input {
    padding: 16px;
    margin: 16px;
    text-align: center;
    border: none;
    border-radius: 4px;
  }
  &__label {
    font-size: 22px;
    padding: 16px;
  }
}
