html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-color: #f4f7f5;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Lato";
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
